.divbackg {
    background-size: 60px;
    background-image: url('../img/diamant.png');
    background-repeat: no-repeat;
    background-position: center;
}
.field_box{
    width: fit-content;
}

.cell {
    padding: 5px;
}