{% extends "base.html" %}

{% block content %}
<div>
    <form action="" method="post">
        {% csrf_token %}
        <h1>Add players for home team</h1>
        {{ home_team_formset.management_form }}
        {% for form in home_team_formset.forms %}
        <ul class="mui-textfield clear">
            {{ form.player_name }} {{ form.pass_number }}
        </ul>
        {% endfor %}

        <h1>Add players for guest team</h1>
        {{ guest_team_formset.management_form }}
        {% for form in guest_team_formset.forms %}
        <ul class="mui-textfield clear">
            {{ form.player_name }} {{ form.pass_number }}
        </ul>
        {% endfor %}

        <input type="submit" value="Subit Team">
    </form>
</div>
{% endblock %}
