<div class="card" style="padding: 5px;width: fit-content;">
    <div>
        <div class="row">
            <div class="col-3" style="width: fit-content;">{{cell.game_move_2_3}}</div>
            <div class="col-3" style="width: fit-content;">{{cell.game_move_1_2}}</div>
        </div>
        <div class="row">
            <div class="col-3" style="width: fit-content;">{{cell.game_move_3_H}}</div>
            <div class="col-3" style="width: fit-content;">{{cell.game_move_H_1}}</div>
        </div>
    </div>
</div>
