{% extends "base.html" %}

{% block content %}
<div>
    <button type="button">
        <a href="{% url 'add_player' game_id team_id %}">Add a new player</a>
    </button>
</div>
<div>
    <form action="" method="post">
        {% csrf_token %}
        <h1>Add players for team {{team_name}}</h1>
        {{ home_team_formset.management_form }}
        {% for form in home_team_formset.forms %}
        <ul class="mui-textfield clear">
            {{ form.player_name }} {{ form.pass_number }}
        </ul>
        {% endfor %}
        <input type="submit" value="Subit Team">
    </form>
</div>
{% endblock %}
