{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
<div>
    <button type="button">
        <a href="{% url 'add_player' game_id team_id %}">Add a new player</a>
    </button>
</div>
<div>
    <form action="" method="post">
        {% csrf_token %}
        <h1>Add players for team {{team_name}}</h1>
        <table>
            <tr>
                <td><!-- id --></td>
                <td>Jersey Number</td>
                <td>Player's Name</td>
                <td><!-- Player's Pass --></td>
                <td>Defensive position</td>
                <td><!-- Enter inning --></td>
            </tr>

        {{ player_row_formset.management_form }}

        {% for form in player_row_formset.forms %}
            <tr>
                <td>{{form.id.as_hidden}}</td>
                <td>{% bootstrap_field form.jersey_number show_label=False %}</td>
                <td>{% bootstrap_field form.player show_label=False %}</td>
                <td></td>
                <td>{% bootstrap_field form.defensive_position show_label=False %}</td>
            </tr>
        {% endfor %}
        </table>
        {% bootstrap_formset_errors player_row_formset %}

        {% buttons %}
        <button type="submit" class="btn btn-primary">
            Subit Team
        </button>
        {% endbuttons %}

    </form>
</div>
{% endblock %}
