{% extends "base.html" %}

{% block content %}
<div>
    <button type="button">
        <a href="{% url 'add_player' game_id team_id %}">Add a new player</a>
    </button>
</div>
<div>
    <form action="" method="post">
        {% csrf_token %}
        <h1>Add players for team {{team_name}}</h1>
        <p>
            Player's Name - Defensive position - Enter Inning
        </p>
        {{ home_team_formset.management_form }}
        {% for form in home_team_formset.forms %}
        <p>
        {{form.id}}{{ form.player }} {{ form.defensive_position }}
        {{form.enter_inning}}
        </p>
        {% endfor %}
        <input type="submit" value="Subit Team">
    </form>
</div>
{% endblock %}
