{% extends "base.html" %}

{% block content %}
<h1>Hello Scorer</h1>


<div>
    <form method="POST">
        {% csrf_token %}
        {{ formset.management_form }}

        <table>
            {% for form in formset.forms %}
            <tr>
                <td>{{form.inning.value}}</td>
                <td>{{form.score}}</td>
                <td>{{form.game_moves}}</td>
            </tr>
            {% endfor %}
        </table>

        <br>
        <input name="submit" type="submit" value="Submit">
    </form>
</div>

{% endblock %}
