{% extends "base.html" %}

{% block content %}
<h1>{{which_team}}: {{team_name}}</h1>


<div>
    <form method="POST">
        {% csrf_token %}


        <table>
            {% for formset in formset_list %}
            {{ formset.management_form }}
            <tr>
                {% for cell in formset %}

                {% if cell == formset.0 %}
                <td>{{cell.score.value}}</td>
                {% endif %}

                <td>{{cell.game_moves}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <br>
        <input name="submit" type="submit" value="Submit">
    </form>
</div>
<br/>
<div>
    <button type="button">
        <a href="{% url 'update_sheet' game_id other_team_id %}">Switch Score Sheet</a>
    </button>
</div>

{{line_up_elements_for_team}}

{% endblock %}
