{% extends "base.html" %}

{% block content %}
<h1>{{which_team}}: {{team_name}}</h1>


<div>
    <form method="POST">
        {% csrf_token %}
        {{ formset.management_form }}

        <table>
            <tr>
                <td>Player</td>
                <td>Batting pos.</td>
                {% for line_up_element in formset.0 %}
                    <td>{{line_up_element.inning.value}}</td>
                {% endfor %}
            </tr>
            {% for line_up_element_set in formset %}
            <tr>
                {% for line_up_element in line_up_element_set %}
                    {% if line_up_element == line_up_element_set.0%}
                    <td>{{line_up_element.score}}</td>
                    <td>{{line_up_element.position.value}}</td>
                    {% endif %}
                <td>{{line_up_element.game_moves}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <br>
        <input name="submit" type="submit" value="Submit">
    </form>
</div>
<br/>
<div>
    <button type="button">
        <a href="{% url 'update_sheet' game_id other_team_id %}">Switch Score Sheet</a>
    </button>
</div>

{{line_up_elements_for_team}}

{% endblock %}
